// project variables
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #fafafa;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url("../images/showcase.jpg");

//set-text color function
@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
