@import "config";
@import "utilities";

//GENERAL STYLES.

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}
a {
  text-decoration: none;
  color: $dark-color;
}
ul {
  list-style: none;
}
h2,
h3,
h4 {
  text-transform: uppercase;
}
img {
  width: 100%;
}
//Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}
//main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }
    &.current {
      border-color: $main-color;
    }
  }
}

//HEADER
#header {
  &-home {
    //HEADER HOME
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    //Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }
  &-inner {
  }
}
//HOME SECTION
#home {
  &-a {
    .specials {
      margin: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      .fa {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }
  //HOME SECTION-2
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }
        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }
        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }
  // HOME-SECTION 3
  &-C {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 22px;
        font-weight: bold;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        transition: all 1s;
      }

      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        position: relative;
        transition: all 1s;

        &:hover {
          background: $main-color;
          width: 130px;
          height: 130px;
          line-height: 130px;

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}

//FOOTER
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fa {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;

      &:hover {
        background: $main-color;
      }
    }
  }
}
